*.tfstate
*.tfstate.*
*.tfstate.backup

**/.terraform/

*.tfvars
*.tfvars.json
!example.tfvars

crash.log
crash.*.log

*.tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.d/credentials.tfrc.json

.DS_Store
Thumbs.db
