*.tfstate
*.tfstate.backup
*.tfstate.*.backup
errored.tfstate
*.tfstate.lock.info

.terraform/

.terraform.lock.hcl

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log
crash.*.log
